<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingtree.timer.dao.KingtreeTaHouseownerMapper" >
  <resultMap id="BaseResultMap" type="com.kingtree.timer.entity.KingtreeTaHouseowner" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="HOUSEOWNER_ID" property="houseownerId" jdbcType="VARCHAR" />
    <result column="GMT_CREATE" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="GMT_MODIFIED" property="gmtModified" jdbcType="TIMESTAMP" />
    <result column="IS_DELETE" property="isDelete" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, HOUSEOWNER_ID, GMT_CREATE, GMT_MODIFIED, IS_DELETE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from kingtree_ta_houseowner
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByHoseownerId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from kingtree_ta_houseowner
    where HOUSEOWNER_ID = #{houseownerId,jdbcType=VARCHAR}
  </select>  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from kingtree_ta_houseowner
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kingtree.timer.entity.KingtreeTaHouseowner" >
    insert into kingtree_ta_houseowner (ID, HOUSEOWNER_ID, GMT_CREATE, 
      GMT_MODIFIED, IS_DELETE)
    values (#{id,jdbcType=INTEGER}, #{houseownerId,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModified,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.kingtree.timer.entity.KingtreeTaHouseowner" >
    insert into kingtree_ta_houseowner
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="houseownerId != null" >
        HOUSEOWNER_ID,
      </if>
      <if test="gmtCreate != null" >
        GMT_CREATE,
      </if>
      <if test="gmtModified != null" >
        GMT_MODIFIED,
      </if>
      <if test="isDelete != null" >
        IS_DELETE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="houseownerId != null" >
        #{houseownerId,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kingtree.timer.entity.KingtreeTaHouseowner" >
    update kingtree_ta_houseowner
    <set >
      <if test="houseownerId != null" >
        HOUSEOWNER_ID = #{houseownerId,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null" >
        GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null" >
        IS_DELETE = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kingtree.timer.entity.KingtreeTaHouseowner" >
    update kingtree_ta_houseowner
    set HOUSEOWNER_ID = #{houseownerId,jdbcType=VARCHAR},
      GMT_CREATE = #{gmtCreate,jdbcType=TIMESTAMP},
      GMT_MODIFIED = #{gmtModified,jdbcType=TIMESTAMP},
      IS_DELETE = #{isDelete,jdbcType=BIT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>