<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingtree.timer.dao.KingtreeTaHouseTooutsideMapper">
	<resultMap id="BaseResultMap" type="com.kingtree.timer.entity.KingtreeTaHouseTooutside">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="houseid" property="houseid" jdbcType="VARCHAR" />
		<result column="push_date" property="pushDate" jdbcType="TIMESTAMP" />
		<result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
		<result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
		<result column="is_delete" property="isDelete" jdbcType="BIT" />
	</resultMap>
	<sql id="Base_Column_List">
		id, houseid, push_date, gmt_create, gmt_modified, is_delete
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from kingtree_ta_house_tooutside
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from kingtree_ta_house_tooutside
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.kingtree.timer.entity.KingtreeTaHouseTooutside">
		insert into kingtree_ta_house_tooutside (id, houseid, push_date,
		gmt_create, gmt_modified, is_delete
		)
		values
		(#{id,jdbcType=INTEGER}, #{houseid,jdbcType=VARCHAR}, #{pushDate,jdbcType=TIMESTAMP},
		#{gmtCreate,jdbcType=TIMESTAMP},
		#{gmtModified,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIT}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.kingtree.timer.entity.KingtreeTaHouseTooutside">
		insert into kingtree_ta_house_tooutside
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="houseid != null">
				houseid,
			</if>
			<if test="pushDate != null">
				push_date,
			</if>
			<if test="gmtCreate != null">
				gmt_create,
			</if>
			<if test="gmtModified != null">
				gmt_modified,
			</if>
			<if test="isDelete != null">
				is_delete,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="houseid != null">
				#{houseid,jdbcType=VARCHAR},
			</if>
			<if test="pushDate != null">
				#{pushDate,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtCreate != null">
				#{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtModified != null">
				#{gmtModified,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				#{isDelete,jdbcType=BIT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.kingtree.timer.entity.KingtreeTaHouseTooutside">
		update kingtree_ta_house_tooutside
		<set>
			<if test="houseid != null">
				houseid = #{houseid,jdbcType=VARCHAR},
			</if>
			<if test="pushDate != null">
				push_date = #{pushDate,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtCreate != null">
				gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
			</if>
			<if test="gmtModified != null">
				gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete,jdbcType=BIT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.kingtree.timer.entity.KingtreeTaHouseTooutside">
	update kingtree_ta_house_tooutside
	set houseid = #{houseid,jdbcType=VARCHAR},
	push_date =
	#{pushDate,jdbcType=TIMESTAMP},
	gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
	gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
	is_delete =
	#{isDelete,jdbcType=BIT}
	where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>